<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if user_signed_in? %>
   <%= link_to "Logout", destroy_user_session_path, method: :delete ,class:"button is-info"%>
   <% else %>
  <%= link_to "Login", new_user_session_path, class:"button is-info"%>
   <%end %>
    <%= yield %>
  </body>
</html>
